<?xml version='1.0' encoding='utf-8'?>
<widget id="net.optmedia.zion" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zion Temple Church</name>
    <description>
        This is Zion Temple Church APP
    </description>
    <author email="erik@optmedia.net" href="http://www.optmedia.net">
        Optmedia Brazil Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.6.1" />
    
        <!--<plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" />-->

	<!-- Requires cli-6.4.0 but we recommend using the latest version. -->
	<preference name="phonegap-version" value="cli-7.0.1" />

	<preference name="android-build-tool" value="gradle" />
	<preference name="android-minSdkVersion" value="10"/>
        <preference name="android-targetSdkVersion" value="26"/>
    

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <!--<allow-intent href="geo:*" />-->
    <allow-navigation href="*://*youtube.com" />
	<allow-navigation href="*://*vimeo.com" />
	<allow-navigation href="*://*facebook.com" />

    
    <platform name="android">
	<preference name="SplashMaintainAspectRatio" value="true"/>
	<preference name="SplashShowOnlyFirstTime" value="true"/>
	<icon density="ldpi" src="res/icon/android/ldpi.png"/>
	<icon density="mdpi" src="res/icon/android/mdpi.png"/>
	<icon density="hdpi" src="res/icon/android/hdpi.png"/>
	<icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
	<icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
	<icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
	 <!--  Portrait  -->
	<splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
	<splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
	<splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
	<splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
	<splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
	<splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>

        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        </feature>
    </platform>
	
</widget>
